<mat-sidenav-container class="container" >
    <mat-sidenav class="sidenav" mode="side" opned
    fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list>
            <a>
                <i class="meterial-icons">
                    home
                </i>
                Inicio
            </a>
            <a>
                <i class="meterial-icons">
                    storefront
                </i>
                Inicio
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>